@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<h2>Here is your list of messages, @User.Identity.Name</h2>
<hr />
@Html.ActionLink("Create new", "Create")

@Html.ActionLink("Add new contact", "Create", "Inbox")